/* line 639, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}


/* line 646, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* line 655, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


/* line 663, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


/* line 677, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* line 693, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input:checked+label:after {
    left: 19px;
}


/* line 696, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.primary-switch input:checked+label:before {
    background: #ff5e13;
}


/* line 704, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;
}


/* line 711, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* line 720, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


/* line 728, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}


/* line 742, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* line 758, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input:checked+label:after {
    left: 19px;
}


/* line 761, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_elements.scss */

.confirm-switch input:checked+label:before {
    background: #4cd3e3;
}